body {
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
color: gray;
}


#nav-bar1 {
    display: flex;  

    /* justify-content: flex-end; */
    justify-content: space-between;
    border: 1px gray  solid;
    height: 70px;
    background-color: pink;
    
}
.web-name{
 /* border: 1px red solid;    */
 display: flex;
 width: 55%;
 
}
.web-name a{
   color: white; 
   font-size: 50px;
   text-decoration: none;
   
}
.link-name{
  /* border: 1px blue solid;   */
  width: 40%;
  display: flex;
  justify-content: space-between;
  
}

.link-name a{
    color: white;
    font-size: 50px;
    text-decoration: none;
}

#nav-bar2 {
    display: flex;  


    border: 1px gray  solid;
    height: 70px;
    background-color: pink;
}
 
#nav-bar4 {
    display: flex;  


    border: 1px gray  solid;
    height: 70px;
    background-color: pink;
}
#bot-bar1 {
    display: flex;  
justify-content: space-evenly;

    border: 1px gray  solid;
    height: 70px;
    background-color: pink;
    align-items: center;
}
#bot-bar1 a{
    color: white;
    font-size: 30px;
    text-decoration: none;

}
#bot-bar2 {
    display: flex;  


    border: 1px gray  solid;
    height: 70px;
    background-color: pink;
}

#bot-bar3 {
    display: flex;  


    border: 1px gray  solid;
    height: 70px;
    background-color: pink;
}
#nav-bar1 a:hover{
    color: grey;
}
#bot-bar1 a:hover{
    color: grey;
}
#home-img {
  width: 50.8%;  
  /* border: 2px solid grey; */
  padding-top: 30px;
}
#pic-1{
    width: 90%;  
    /* border: 2px solid grey; */
    /* padding-top: 30px; */
    height: 70%;

}
#pic-2{
    width: 90%;  
    /* border: 2px solid grey; */
    /* padding-top: 30px; */
    height: 70%;
}

#pic-3{
    width: 90%;  
    /* border: 2px solid grey; */
    /* padding-top: 30px; */
    height: 70%;
}
.images{
    /* border: 2px solid grey; */
    display: flex;
    flex-flow: colum wrap;
    justify-content: space-evenly;
    /* align-items: center; */
}
.img-container {
    width: 30%;
    /* border: 2px black solid; */
}


